---
title: pages.layouts.shuffle_layout.title
tags: [tags.special_layouts]
last_updated: May 25, 2018
keywords: pages.layouts.shuffle_layout.keywords 
folder: layout
summary: pages.layouts.shuffle_layout.summary
permalink: agfdm_shuffle.html
sidebar: agfdm_sidebar
folder: layout
---



{% if site.output == "pdf" %}
{{site.data.alerts.note}} pages.layouts.shuffle_layout.alerts_note  {{site.data.alerts.end}}
{% endif %}

{% unless site.output == "pdf" %}
<script src={{ "/js/jquery.shuffle.min.js" | prepend: site.baseurl_root }}></script>
<script src={{ "/js/jquery.ba-throttle-debounce.min.js" | prepend: site.baseurl_root }}></script>
{% endunless %}

      <div class="filter-options">
      <button class="btn btn-primary" data-group="all">{% t pages.layouts.shuffle_layout.buttons.all %}</button>
      <button class="btn btn-primary" data-group="getting_started">{% t pages.layouts.shuffle_layout.buttons.getting_started %}</button>
      <button class="btn btn-primary" data-group="formatting">{% t pages.layouts.shuffle_layout.buttons.formatting %}</button>
      <button class="btn btn-primary" data-group="publishing">{% t pages.layouts.shuffle_layout.buttons.publishing %}</button>
      <button class="btn btn-primary" data-group="content-types">{% t pages.layouts.shuffle_layout.buttons.content_types %}</button>
          <button class="btn btn-primary" data-group="single_sourcing">{% t pages.layouts.shuffle_layout.buttons.single_sourcing %}</button>
      <button class="btn btn-primary" data-group="special_layouts">{% t pages.layouts.shuffle_layout.buttons.special_layouts %}</button>
    </div>      

<div id="grid" class="row">


    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["getting_started"]'>

               <div class="panel panel-default">
               <div class="panel-heading">{% t pages.layouts.shuffle_layout.panel_headings.getting_started %}</div>
               <div class="panel-body">
                  {% t  pages.layouts.shuffle_layout.panel_body.getting_started %}
                  <ul>
                {% for page in site.pages %}
                {% for tag in page.tags %}
                {% assign ttag = tag  |  remove: 'tags.' %}
                {% if ttag == "getting_started" %}
                  <li><a href="{{page.url | remove: '/'}}">{% t {{page.title}} %}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %} 
                  </ul>
               </div>
            </div>
    
    </div>
   

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["content-types"]'>

        <div class="panel panel-default">
            <div class="panel-heading">{% t pages.layouts.shuffle_layout.panel_headings.content_types %}</div>
            <div class="panel-body">
                {% t  pages.layouts.shuffle_layout.panel_body.content_types %}
                <ul>
                    {% for page in site.pages %}
                    {% for tag in page.tags %}
                {% assign ttag = tag  |  remove: 'tags.' %}
                    {% if ttag == "content-types" %}
                    <li><a href="{{page.url | remove: '/'}}">{% t {{page.title}} %}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>



    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["formatting"]'>

                <div class="panel panel-default">
               <div class="panel-heading">{% t pages.layouts.shuffle_layout.panel_headings.formatting %}</div>
               <div class="panel-body">
                  {% t  pages.layouts.shuffle_layout.panel_body.formatting %}
                  <ul>
                {% for page in site.pages %}
                {% for tag in page.tags %}
                {% assign ttag = tag  |  remove: 'tags.' %}
                {% if ttag == "formatting" %}
                  <li><a href="{{page.url | remove: '/'}}">{% t {{page.title}} %}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                  </ul>
               </div>
            </div>

    </div>

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["single_sourcing"]'>
         
      <div class="panel panel-default">
               <div class="panel-heading">{% t pages.layouts.shuffle_layout.panel_headings.single_sourcing %}</div>
               <div class="panel-body">
                  {% t  pages.layouts.shuffle_layout.panel_body.single_sourcing %}
               <ul>
                {% for page in site.pages %}
                {% for tag in page.tags %}
                {% assign ttag = tag  |  remove: 'tags.' %}
                {% if ttag == "single_sourcing" %}
                  <li><a href="{{page.url | remove: '/'}}">{% t {{page.title}} %}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %} 
               </ul>
            </div>
         </div>

    </div>

       <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["publishing"]'>

           <div class="panel panel-default">
               <div class="panel-heading">{% t pages.layouts.shuffle_layout.panel_headings.publishing %}</div>
               <div class="panel-body">
                  {% t  pages.layouts.shuffle_layout.panel_body.publishing %}
                   <ul>
                {% for page in site.pages %}
                {% for tag in page.tags %}
                {% assign ttag = tag  |  remove: 'tags.' %}
                {% if ttag == "publishing" %}
                  <li><a href="{{page.url | remove: '/'}}">{% t {{page.title}} %}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                   </ul>
               </div>
            </div>

    </div>

        <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["special_layouts"]'>

             <div class="panel panel-default">
               <div class="panel-heading">{% t pages.layouts.shuffle_layout.panel_headings.special_layouts %}</div>
               <div class="panel-body">
                  {% t  pages.layouts.shuffle_layout.panel_body.special_layouts %}
                  <ul>
                {% for page in site.pages %}
                {% for tag in page.tags %}
                {% assign ttag = tag  |  remove: 'tags.' %}
                {% if ttag == "special_layouts" %}
                     <li><a href="{{page.url | remove: '/'}}">{% t {{page.title}} %}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %} 
                  </ul>
               </div>
            </div>

    </div>
          <!-- sizer -->
      <div class="col-xs-6 col-sm-4 col-md-1 shuffle_sizer"></div>          


    </div><!-- /#grid -->

{% unless site.output == "pdf" %}
{% include initialize_shuffle.html %}
{% endunless %}

{% capture page_note %}{% t pages.layouts.shuffle_layout.note %}{% endcapture %}
{% include note.html content=page_note %}
