<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <nav>
    <a href="{{ '/' | prepend: site.baseurl | append: 'en/' }}">English</a>
    <a href="{{ '/' | prepend: site.baseurl | append: 'zh/' }}">中文</a>
  </nav>

  {% if site.data.settings.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  <div class="top ion ion-ios-arrow-up" title="Top"></div>

  {% include search.html %}

  {% include footer.html %}

  {% include javascripts.html %}
</body>

</html>